Module14_soap/src/main/webapp/wsdl/soaprepository.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.spring.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.spring.com" xmlns:intf="http://soap.spring.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.spring.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="addnum">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addnumResponse">
    <complexType>
     <sequence>
      <element name="addnumReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="subnum">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="subnumResponse">
    <complexType>
     <sequence>
      <element name="subnumReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addnumResponse">

      <wsdl:part element="impl:addnumResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addnumRequest">

      <wsdl:part element="impl:addnum" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="subnumResponse">

      <wsdl:part element="impl:subnumResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="subnumRequest">

      <wsdl:part element="impl:subnum" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="soaprepository">

      <wsdl:operation name="addnum">

         <wsdl:input message="impl:addnumRequest" name="addnumRequest">

       </wsdl:input>

         <wsdl:output message="impl:addnumResponse" name="addnumResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="subnum">

         <wsdl:input message="impl:subnumRequest" name="subnumRequest">

       </wsdl:input>

         <wsdl:output message="impl:subnumResponse" name="subnumResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="soaprepositorySoapBinding" type="impl:soaprepository">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addnum">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addnumRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addnumResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="subnum">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="subnumRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="subnumResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="soaprepositoryService">

      <wsdl:port binding="impl:soaprepositorySoapBinding" name="soaprepository">

         <wsdlsoap:address location="http://localhost:8083/Module14_soap/services/soaprepository"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
