Module14_soap/src/main/webapp/wsdl/StudentDaoImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://dao.soap.spring.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://dao.soap.spring.com" xmlns:intf="http://dao.soap.spring.com" xmlns:tns1="http://model.soap.spring.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://dao.soap.spring.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.soap.spring.com"/>
   <element name="deleteStudent">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteStudentResponse">
    <complexType/>
   </element>
   <element name="addStudent">
    <complexType>
     <sequence>
      <element name="s1" type="tns1:Student"/>
     </sequence>
    </complexType>
   </element>
   <element name="addStudentResponse">
    <complexType/>
   </element>
   <element name="updateStudentname">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateStudentnameResponse">
    <complexType/>
   </element>
   <element name="getStudentbyId">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getStudentbyIdResponse">
    <complexType>
     <sequence>
      <element name="getStudentbyIdReturn" type="tns1:Student"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.soap.spring.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Student">
    <sequence>
     <element name="std_class" type="xsd:int"/>
     <element name="std_id" type="xsd:int"/>
     <element name="std_name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getStudentbyIdResponse">

      <wsdl:part element="impl:getStudentbyIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addStudentRequest">

      <wsdl:part element="impl:addStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addStudentResponse">

      <wsdl:part element="impl:addStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteStudentResponse">

      <wsdl:part element="impl:deleteStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateStudentnameResponse">

      <wsdl:part element="impl:updateStudentnameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStudentbyIdRequest">

      <wsdl:part element="impl:getStudentbyId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteStudentRequest">

      <wsdl:part element="impl:deleteStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateStudentnameRequest">

      <wsdl:part element="impl:updateStudentname" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="StudentDaoImpl">

      <wsdl:operation name="deleteStudent">

         <wsdl:input message="impl:deleteStudentRequest" name="deleteStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteStudentResponse" name="deleteStudentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addStudent">

         <wsdl:input message="impl:addStudentRequest" name="addStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:addStudentResponse" name="addStudentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateStudentname">

         <wsdl:input message="impl:updateStudentnameRequest" name="updateStudentnameRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateStudentnameResponse" name="updateStudentnameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getStudentbyId">

         <wsdl:input message="impl:getStudentbyIdRequest" name="getStudentbyIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getStudentbyIdResponse" name="getStudentbyIdResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StudentDaoImplSoapBinding" type="impl:StudentDaoImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="deleteStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateStudentname">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateStudentnameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateStudentnameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getStudentbyId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStudentbyIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getStudentbyIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StudentDaoImplService">

      <wsdl:port binding="impl:StudentDaoImplSoapBinding" name="StudentDaoImpl">

         <wsdlsoap:address location="http://localhost:8083/Module14_soap/services/StudentDaoImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
